**/node_modules
node_modules
**/.idea
**/.DS_Store
**/cypress/videos 
**cypress/cucumber-json/**
**/cucumber-json
3PL_Cypress/cypress/cucumber-json/Customer_Dashboard.cucumber.json
3PL_Cypress/cypress/cucumber-json/EBR.cucumber.json
3PL_Cypress/cypress/cucumber-json/EFR_Document_Consignment.cucumber.json
3PL_Cypress/cypress/cucumber-json/Employee.cucumber.json
3PL_Cypress/cypress/cucumber-json/empty.cucumber.json
3PL_Cypress/cypress/cucumber-json/excel_consignment.cucumber.json
3PL_Cypress/cypress/cucumber-json/Hub_Master.cucumber.json
3PL_Cypress/cypress/cucumber-json/International_Customer_Dashboard.cucumber.json
3PL_Cypress/cypress/cucumber-json/International_Operational_Dashboard.cucumber.json
3PL_Cypress/cypress/cucumber-json/Operational_Dashboard.cucumber.json
3PL_Cypress/cypress/cucumber-json/Setup.cucumber.json
3PL_Cypress/reports/cucumber_report.html
3PL_Cypress/reports/cucumber_report.html.json
3PL_Cypress/cypress/cucumber-json/Fast-e-Forward.cucumber.json
3PL_Cypress/cypress/cucumber-json/Fast-e-Forward.cucumber.json
3PL_Cypress/cypress/cucumber-json/Fast-e-Forward.cucumber.json
3PL_Cypress/cypress/cucumber-json/Fast-e-Forward.cucumber.json
3PL_Cypress/cypress/cucumber-json/Fast-e-Forward.cucumber.json
3PL_Cypress/cypress/cucumber-json/International_EBR.cucumber.json
3PL_Cypress/cypress/cucumber-json/International_EBR.cucumber.json
3PL_Cypress/cypress/cucumber-json/International_EBR.cucumber.json
3PL_Cypress/cypress/cucumber-json/Fast-e-Forward.cucumber.json
3PL_Cypress/cypress/cucumber-json/International_EBR.cucumber.json
cypress/videos
reports
cypress/cucumber-json
package-lock.json
